<!-- Form -->
<form
    action="/api/users"
    method="POST"
    id="add_user"
    onsubmit="return validateForm()"
>
    <div class="new_user">
        <div class="form-group">
            <label for="name" class="text-dark">Name</label>
            <input type="hidden" name="id" value="" />
            <input
                type="text"
                required
                name="name"
                value=""
                id="username"
                placeholder="UserName"
                style="border-radius: 25px"
            />
            <i class="fas fa-exclamation-circle"></i>
            <small>Error message</small>
        </div>
        <div class="form-group">
            <label for="Email📧" class="text-dark">Email</label>
            <input
                type="email"
                name="email"
                value=""
                style="border-radius: 25px"
                id="email"
                required
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                placeholder="example@domain.com"
            />
            <!-- <img src="css/mail.svg" alt="" /> -->
            <i class="fas fa-exclamation-circle"></i>
            <small>Error message</small>
        </div>
        <div class="form-group">
            <label for="gender" class="text-dark">Gender</label>
            <div class="radio inline">
                <input type="radio" id="radio-2" name="gender" value="Male" />
                <label for="radio-2" class="radio-label">Male</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-3" name="gender" value="Female" />
                <label for="radio-3" class="radio-label">Female</label>
            </div>
        </div>
        <div class="form-group">
            <label for="contact" class="text-dark">contact</label>
            <input
                type="text"
                name="contact"
                value=""
                id="number"
                required
                placeholder="Number"
                pattern="[6789][0-9]{9}"
                style="border-radius: 25px"
            />
            <i class="fas fa-exclamation-circle"></i>
            <small>input the contact number</small>
        </div>
        <div class="form-group">
            <label for="designation" class="text-dark">Designation</label>
            <input
                type="text"
                name="designation"
                value=""
                style="border-radius: 25px"
                placeholder="job profile"
            />
        </div>
        <input type="file" id="file" name="file" />
        <div class="form-group">
            <button
                type="submit"
                style="border-radius: 25px"
                class="btn text-dark update"
            >
                Submit
            </button>
        </div>
    </div>
</form>
