<!--Form-->
<form
    action="/api/users"
    method="POST"
    id="add_user"
    <!-- enctype="multipart/form-data" -->
    <!-- onsubmit="return validateForm()" -->
>
    <div class="new_user">
        <div class="form-group">
            <label for="username">Name</label>
            <input type="hidden" name="id" value="">
            <input type="text" placeholder="Name"  value="" id="username" />
            <i class="fas fa-check-circle"></i>
            <i class="fas fa-exclamation-circle"></i>
            <small>Error message</small>
        </div>

        <div class="form-group">
            <label for="Email" class="text-dark">Email</label>
            <input type="email" id="email" placeholder="example@gmail.com" value=""/>
            <i class="fas fa-check-circle"></i>
            <i class="fas fa-exclamation-circle"></i>
            <small>Error message</small>
        </div>

        <div class="form-group">
            <label for="gender" class="text-dark">Gender</label>
            <div class="radio inline">
                <input type="radio" id="radio-2" name="gender" value="Male" />
                <label for="radio-2" class="radio-label">Male</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-3" name="gender" value="Female" />
                <label for="radio-3" class="radio-label">Female</label>
            </div>
        </div>

        <div class="form-group">
            <label for="contact" class="text-dark">contact</label>
            <input
                type="number"
                id="number"
                name="number"
                value=""
                placeholder="number"
            />
            <i class="fas fa-check-circle"></i>
            <i class="fas fa-exclamation-circle"></i>
            <small>Error message</small>
        </div>
        <div class="form-group">
            <label for="designation" class="text-dark">designation</label>
            <input
                type="text"
                name="designation"
                value=""
                id="designation"
                placeholder="job profile"
            />
        </div>
        <input type="file" id="file" name="file" />
        <button type="submit" value="Upload" /></button>
        <div class="form-group">
            <button class="btn text-dark update" id="sumbit" >Submit</button>
        </div>
    </div>
</form>
