<!--Form-->
<form action="/api/users" method="POST" id="add_user">
    <div class="new_user">
        <div class="form-group">
            <label for="name" class="text-dark">Name</label>
            <input type="hidden" name="id" value="" />
            <input type="text" name="name" value="" placeholder="UserName" />
        </div>
        <div class="form-group">
            <label for="Email" class="text-dark">Email</label>
            <input
                type="text"
                name="email"
                value=""
                placeholder="example@domain.com"
            />
        </div>
        <div class="form-group">
            <label for="gender" class="text-dark">Gender</label>
            <div class="radio inline">
                <input type="radio" id="radio-2" name="gender" value="Male" />
                <label for="radio-2" class="radio-label">Male</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-3" name="gender" value="Female" />
                <label for="radio-3" class="radio-label">Female</label>
            </div>
        </div>
        <div class="form-group">
            <label for="contact" class="text-dark">contact</label>
            <input type="text" name="contact" value="" placeholder="Number" />
        </div>
        <div class="form-group">
            <label for="designation" class="text-dark">Designation</label>
            <input
                type="text"
                name="Designation"
                value=""
                placeholder="job profile"
            />
        </div>
        <input type="file" id="file" name="file" />
        <button type="submit" value="Upload" /></button>
        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>
    </div>
</form>
