@import url("https://fonts.googleapis.com/css2?family=Barlow&family=PT+Sans&display=swap");

:root {
  --dark: #2b2d42;
  --light: #adb5bd;
  --border: #dee2e6;
  --border-btn: #edf2f4;
}

* {
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  font-family: "PT Sans", sans-serif;
}

.container {
  max-width: 1024px;
  margin: auto;
}

.nav-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.justify-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.border-shadow {
  border: 1px solid var(--border-btn);
  box-shadow: 1px 3px 10px #e9ecef;
}

.text-dark {
  color: var(--dark);
}

.inline {
  display: inline-block;
}

.text-light {
  color: var(--light);
}

.text-gradient {
  background: linear-gradient(to right, #8e2de2, #4a00e0);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#header nav {
  background-color: #06d6a0;
  padding: 1em 0;
  width: 100%;
}

#site-main {
  margin-top: 6em;
  font-family: "Barlow", sans-serif;
}

#site-main .container .box-nav > a {
  font-size: 1em;
  padding: 0.5em 1em;
}

#site-main .container form {
  margin: 2em 0;
}
table {
  border-spacing: 0px;
  width: 100%;
}

.table td,
.table th {
  padding: 0.75em;
  vertical-align: top;
  text-align: center;
  border-top: 1px solid var(--border);
}

.table td > a.btn {
  padding: 0.3em 1em;
  font-size: 1.1em;
  margin: 0.2em;
}

.table tr:hover {
  background-color: #06d6a0;
}

.table tr:hover td > a {
  box-shadow: none;
}

.table .thead-dark th {
  color: #32383e;
}

@media only screen and (max-width: 1040px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid var(--border);
  }

  td {
    border: none;
    position: relative;
  }
}

/*  add user & update user template */
.form-title {
  margin-top: 2em;
}

.form-title > h2 {
  padding: 0.5em 0;
}

.new_user {
  max-width: 786px;
  margin: auto;
}

#update_user .form-group,
#add_user .form-group {
  margin: 0.4em 0;
}

#update_user .form-group input[type="text"],
#add_user .form-group input[type="text"] {
  width: 100%;
  padding: 0.6em 1em;
  margin: 0.5em 0;
  border: 1px solid var(--border);
  font-family: "Barlow", sans-serif;
  font-size: 1em;
  border-radius: 0.2em;
}

#update_user .form-group .radio,
#add_user .form-group .radio {
  margin: 1em 2em;
}

/* adding style to radio buttons */
.radio input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.radio input[type="radio"] + .radio-label:before {
  content: "";
  background: var(--border-btn);
  border-radius: 100%;
  border: 1px solid var(--border);
  display: inline-block;
  width: 1em;
  height: 1em;
  position: relative;
  top: -0em;
  margin-right: 0.5em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.radio input[type="radio"]:checked + .radio-label:before {
  background-color: #16db93;
  box-shadow: inset 0 0 0 4px #e9ecef;
}

.radio input[type="radio"]:focus + .radio-label:before {
  outline: none;
  border-color: #16db93;
}

.radio input[type="radio"]:disabled + .radio-label:before {
  box-shadow: inset 0 0 0 4px #e9ecef;
  border-color: #b4b4b4;
  background: #b4b4b4;
}

body {
                background-color: #8ee7ee;
               }

          
#update_user .form-group .btn,
#add_user .form-group .btn {
  width: 100%;
  padding: 0.9em 1em;
  background-color: #16db93;
  border: none;
  font-family: "PT Sans", sans-serif;
  font-size: 1em;
  cursor: pointer;
  border-radius: 0.2em;
  margin: 0.5em 0;
}

#update_user .form-group .btn:hover,
#add_user .form-group .btn:hover {
  background-color: var(--dark);
  color: var(--border);
}
 .form-group input {
                border: 2px solid #f0f0f0;
                border-radius: 4px;
                display: block;
                font-family: inherit;
                font-size: 14px;
                padding: 10px;
                width: 100%;
            }

.form-group.success input {
                border-color: #2ecc71;
            }

.form-group.error input {
                border-color: #e74c3c;
            }

             .form-group.success i.fa-check-circle {
                color: #2ecc71;
                visibility: visible;
            }

            .form-group.error i.fa-exclamation-circle {
                color: #e74c3c;
                visibility: visible;
            }

            .form-group small {
                color: #e74c3c;
                position: absolute;
                bottom: 0;
                left: 0;
                visibility: hidden;
            }

            .form-group.error small {
                visibility: visible;
            }

              /* SOCIAL PANEL CSS */
            .social-panel-container {
                position: fixed;
                right: 0;
                bottom: 80px;
                transform: translateX(100%);
                transition: transform 0.4s ease-in-out;
            }

            .social-panel-container.visible {
                transform: translateX(-10px);
            }

            .social-panel {
                background-color: #fff;
                border-radius: 16px;
                box-shadow: 0 16px 31px -17px rgba(0, 31, 97, 0.6);
                border: 5px solid #001f61;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-family: "Muli";
                position: relative;
                height: 169px;
                width: 370px;
                max-width: calc(100% - 10px);
            }

            .social-panel button.close-btn {
                border: 0;
                color: #97a5ce;
                cursor: pointer;
                font-size: 20px;
                position: absolute;
                top: 5px;
                right: 5px;
            }

            .social-panel button.close-btn:focus {
                outline: none;
            }

            .social-panel p {
                background-color: #001f61;
                border-radius: 0 0 10px 10px;
                color: #fff;
                font-size: 14px;
                line-height: 18px;
                padding: 2px 17px 6px;
                position: absolute;
                top: 0;
                left: 50%;
                margin: 0;
                transform: translateX(-50%);
                text-align: center;
                width: 235px;
            }

            .social-panel p i {
                margin: 0 5px;
            }

            .social-panel p a {
                color: #ff7500;
                text-decoration: none;
            }

            .social-panel h4 {
                margin: 20px 0;
                color: #97a5ce;
                font-family: "Muli";
                font-size: 14px;
                line-height: 18px;
                text-transform: uppercase;
            }

            .social-panel ul {
                display: flex;
                list-style-type: none;
                padding: 0;
                margin: 0;
            }

            .social-panel ul li {
                margin: 0 10px;
            }

            .social-panel ul li a {
                border: 1px solid #dce1f2;
                border-radius: 50%;
                color: #001f61;
                font-size: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 50px;
                width: 50px;
                text-decoration: none;
            }

            .social-panel ul li a:hover {
                border-color: #ff6a00;
                box-shadow: 0 9px 12px -9px #ff6a00;
            }

            .floating-btn {
                border-radius: 26.5px;
                background-color: #001f61;
                border: 1px solid #001f61;
                box-shadow: 0 16px 22px -17px #03153b;
                color: #fff;
                cursor: pointer;
                font-size: 16px;
                line-height: 20px;
                padding: 12px 20px;
                position: fixed;
                bottom: 20px;
                right: 20px;
                z-index: 999;
            }

            .floating-btn:hover {
                background-color: #ffffff;
                color: #001f61;
            }

            .floating-btn:focus {
                outline: none;
            }

            .floating-text {
                background-color: #001f61;
                border-radius: 10px 10px 0 0;
                color: #fff;
                font-family: "Muli";
                padding: 7px 15px;
                position: fixed;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                text-align: center;
                z-index: 998;
            }

            .floating-text a {
                color: #ff7500;
                text-decoration: none;
            }

            @media screen and (max-width: 480px) {
                .social-panel-container.visible {
                    transform: translateX(0px);
                }

                .floating-btn {
                    right: 10px;
                }
            }
        

#footer {
  color: #fff;
  background-color: #87c05e;
  padding-top: 10px;
  padding-bottom: 10px;
}

#footer a {
  color: rgb(53, 13, 80);
}

#footer a:hover {
  color: #6bff00;
}
